[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/nerdetree"]
	path = bundle/nerdetree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-peepopen"]
	path = bundle/vim-peepopen
	url = git://github.com/shemerey/vim-peepopen.git
[submodule "bundle/vim-vagrant"]
	path = bundle/vim-vagrant
	url = git://github.com/pavel-v-chernykh/vim-vagrant.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
