[submodule "bundle/puppet"]
	path = bundle/puppet
	url = https://github.com/smat/vim-puppet.git
[submodule "bundle/nerdetree"]
	path = bundle/nerdetree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-peepopen"]
	path = bundle/vim-peepopen
	url = git://github.com/shemerey/vim-peepopen.git
[submodule "bundle/vim-vagrant"]
	path = bundle/vim-vagrant
	url = git://github.com/pavel-v-chernykh/vim-vagrant.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ruby-matchit"]
	path = bundle/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/xptemplate"]
	path = bundle/xptemplate
	url = https://github.com/vim-scripts/xptemplate.git
